@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Monument Sans';
  src: url('/fonts/MonumentSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply bg-purple-900;
}